# Ignore the patients data folder in segmentation
brain_model_train/data/patients/

# Ignore the data output folder
outputs/

# Ignore ipynb_checkpoints
.ipynb_checkpoints/

# ignore model checkpoints
brain_model_train/data/model_checkpoints/4-17-17/
